<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>cn.linson.xtools.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogServlet</servlet-name>
        <servlet-class>cn.linson.xtools.servlet.LogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogServlet</servlet-name>
        <url-pattern>/LogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ServletUpFile</servlet-name>
        <servlet-class>cn.linson.xtools.servlet.file.ServletUpFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUpFile</servlet-name>
        <url-pattern>/ServletUpFile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletDisplayFiles</servlet-name>
        <servlet-class>cn.linson.xtools.servlet.file.ServletDisplayFiles</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDisplayFiles</servlet-name>
        <url-pattern>/ServletDisplayFiles</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletFileManager</servlet-name>
        <servlet-class>cn.linson.xtools.servlet.file.ServletFileManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletFileManager</servlet-name>
        <url-pattern>/ServletFileManager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletDeleteFile</servlet-name>
        <servlet-class>cn.linson.xtools.servlet.file.ServletDeleteFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDeleteFile</servlet-name>
        <url-pattern>/ServletDeleteFile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ImageInfoServlet</servlet-name>
        <servlet-class>cn.linson.xtools.servlet.imageinfo.ImageInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageInfoServlet</servlet-name>
        <url-pattern>/ImageInfoServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletDisplayOneTypeFiles</servlet-name>
        <servlet-class>cn.linson.xtools.servlet.file.ServletDisplayOneTypeFiles</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDisplayOneTypeFiles</servlet-name>
        <url-pattern>/ServletDisplayOneTypeFiles</url-pattern>
    </servlet-mapping>
</web-app>